.ddsmoothmenu2{
font:normal 10px Verdana;
width:964px;
}

.ddsmoothmenu2 ul{
z-index:100;
margin:0;
padding:0;
list-style-type:none;
}

/*Top level list items*/
.ddsmoothmenu2 ul li{
position:relative;
display:inline;
float:left;
}

/*Top level menu link items style*/
.ddsmoothmenu2 ul li a{
display:block;
}

* html .ddsmoothmenu2 ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display:inline-block;
}

.ddsmoothmenu2 ul li a:link, .ddsmoothmenu2 ul li a:visited{
}

.ddsmoothmenu2 ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
color:#000000; background:url(images/glow1.png) no-repeat bottom center #86C321;
}
.ddsmoothmenu2 ul li ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
color:#0365D5; background:#f8f8f8; border-bottom:solid #CCCCCC 1px;
}

.ddsmoothmenu2 ul li a:hover{}

/*1st sub level menu*/
.ddsmoothmenu2 ul li ul{
position:absolute;
left:0;
display:none; /*collapse all sub menus to begin with*/
visibility:hidden;
background:#f7f7f7; border:solid #CCCCCC 1px; padding:5px; width:100%; border-radius:8px;
}

.ddsmoothmenu2 ul li ul li ul{
position:absolute;
left:0;
display:none; /*collapse all sub menus to begin with*/
visibility:hidden;
background:#f0f0f0; border:solid #cccccc 1px; padding:5px; border-radius:8px; width:100%;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu2 ul li ul li{
display:list-item;
float:none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu2 ul li ul li ul{
top:0;
}

/* Sub level menu links style */
.ddsmoothmenu2 ul li ul li a{
font:normal 10px Verdana; color:#333333;
padding:5px; text-align:left; text-decoration:none; border-bottom:dotted #cccccc 1px;
}
.ddsmoothmenu2 ul li ul li a:hover{
background:#ffffff; color:#0365D5; border-bottom:solid #CCCCCC 1px;
}


/* Holly Hack for IE \*/
* html .ddsmoothmenu2{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position:absolute;
top:12px;
right:7px; display:none
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px; display:none;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position:absolute;
left:0;
top:0;
width:0;
height:0;
background:silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.8;
}